{% extends "base.html.twig" %}

{% block title %}Visningsoversigt{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>


{% endblock %}
{% block content %}
    <h1>Content</h1>
    <form id="idform" action="/submitids" method="POST">
        <ul>
            {% for item in json %}
                <li><input type="checkbox" id="{{ item.id }}" name="{{ item.id }}" value="true"> {{ item.title.rendered|e }}
                </li>
            {% endfor %}
        </ul>

    </form>


    <button class="sendData" type="button">Opdater App</button>
    <button class="updateList" type="button">Opdater Liste</button>

    <script>


        // A $( document ).ready() block.
        $(document).ready(function () {

            $('.sendData').on('click', function () {
                console.log('Sending Data');
                $('#idform').submit();
            });

            $('.updateList').on('click', function () {
                console.log("updating")
                $.get( "/update", function( data ) {
                    console.log("Sucess");
                    location.reload(); // the baddest way to do this,, but sooooooo easy
                });
            });

        });

    </script>

{% endblock %}