{% extends "base.html.twig" %}

{% block title %}Visningsoversigt{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>


{% endblock %}
{% block content %}
    <h1>Content</h1>
    <ul>
        {% for item in json %}
            <li><input type="checkbox" id="{{ item.id }}" name="vehicle3" value="Vist"> {{ item.title.rendered|e }}
            </li>
        {% endfor %}
    </ul>

    <button class="sendData" type="button">Click Me!</button>
    <button class="updateList" type="button">Opdater Liste</button>

    <script>


        // A $( document ).ready() block.
        $(document).ready(function () {

            $('.sendData').on('click', function () {
                console.log('hej');
            });

            $('.updateList').on('click', function () {
                console.log("updating")
                $.get( "/update", function( data ) {
                    console.log("Sucess");
                    location.reload(); // the baddest way to do this,, but sooooooo easy
                });
            });

        });

    </script>

{% endblock %}